* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "DM Serif Text", serif;
    ;
}
body{
background-color: #c0c0c0;




}

header {
    background-color: #d8d8c0;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: sticky;
    left: 0;
    top: 0;
    z-index: 999;
}

.logojk {
    width: 8rem;
    height: auto;
}

.ul-list {
    display: flex;
    gap: 15px;

}

.ul-list a {
    text-decoration: none;
    color: black;
}

.section-01 {
    background-image: url(imagem/dektop.png);
    background-size: cover;
    background-position: top;
    padding: 13rem;
}


.section-02 {

  
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    /* poderiamos usa 20px */
    padding: 9rem;
    flex-wrap: wrap;
    flex-direction: column;
   



}

.caixa {

    background-color:#948989;
    /*cor de fundo da caixa */
    color: white;
    /*cor da letra */
    font-size: 1.2rem;
    /*tamanho da letra */
    width: 25%;
    /*largura de todas as caixas de porcentagem*/

    /* largura de todas as caixas em porcetagem */
    height: 17rem;
    /*altura da caixa */
    box-shadow: 10px 10px 20px rgb(88, 88, 84);
    /*sombra da caixa */
    min-width: 300px;
    /*largura minima da caixa evita que fique muito pequeno */
    transition: 0.8s;
    /*transição para o hover */
    cursor: pointer;
    /*ativar cursor do mouse */
    padding: 1rem;
    /*atribuindo um preenchimento interno*/



}

.pai-caixas {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem;


}

.caixa-icons i {
    /* icones são tratados como textos para estilização  */
    color: rgb(0, 0, 0);
    /* alterei a cor do icone */
    font-size: 2rem;
    /*aumentei o tamanho  do icone */
    margin-top: 1rem;
    /*espaçamento superior */
    margin-bottom: 0.8rem;
    /*espaçamento inferior */
}

/* chamei a div dos icones para centralizar os mesmos  */

.caixa-icons {
    text-align: center;
    /*alinhamento dos icones ao centro */
}

/* estilização do paragrafo  */
.texto-caixa p {

    font-size: 1.2rem;
    /*tamanho da letra */
    margin-bottom: 0.8rem;
    /*espaçamento inferior */


}

/* estilização do botão  */
.texto-caixa button {

    width: 8rem;
    /*largura */
    background-color: blue;
    /*cor de fundo */
    color: white;
    /*cor da letra*/
    border: none;
    /*removendo a borda padrão */
    padding: 0.5rem;
    /*preenchimento interno do botão*/


}

.texto-caixa {
    text-align: center;/* alinhamento dos itens (podemos usar o flebox tbm ) */
}
.Text-content h3{
    /* estamos chamando p titulo da sessão  */
font-size: 2rem;/*tamanho da fonte */
font-weight: 800;/*peso da fonte */
text-transform: uppercase;/*tornando o texto em caixa alta */
margin-bottom: 2rem;/*margem inferior do titulo */

}
.Text-content P {

    color: rgb(66, 58, 58);
    text-align: center;
    font-size: 1.2rem;





}
@media screen and (max-width: 480px) {
    header {
        background-color: rgba(126, 109, 108, 0.904);
    }

}

@media (max-width:500px) {
    .section-01 {
        background-image: url(imagem/dektop.png);
        padding: 10rem;
    }

    nav {
        display: none;
    }
}
.section-03  {
   background-color: #4b4444;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    /* poderiamos usa 20px */
    padding: 9rem;
    flex-wrap: wrap;
    flex-direction: column;




}

.caixa-01 {

    background-color:#948989;
    /*cor de fundo da caixa */
    color: white;
    /*cor da letra */
    font-size: 1.2rem;
    /*tamanho da letra */
    width: 25%;
    /*largura de todas as caixas de porcentagem*/

    /* largura de todas as caixas em porcetagem */
    height: 17rem;
    /*altura da caixa */
    box-shadow: 10px 10px 20px rgb(88, 88, 84);
    /*sombra da caixa */
    min-width: 300px;
    /*largura minima da caixa evita que fique muito pequeno */
    transition: 0.8s;
    /*transição para o hover */
    cursor: pointer;
    /*ativar cursor do mouse */
    padding: 1rem;
    /*atribuindo um preenchimento interno*/



}

.pai-caixas-01 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem;


}

.caixa-icons i {
    /* icones são tratados como textos para estilização  */
    color: rgb(0, 0, 0);
    /* alterei a cor do icone */
    font-size: 2rem;
    /*aumentei o tamanho  do icone */
    margin-top: 1rem;
    /*espaçamento superior */
    margin-bottom: 0.8rem;
    /*espaçamento inferior */
}

/* chamei a div dos icones para centralizar os mesmos  */

.caixa-icons {
    text-align: center;
    /*alinhamento dos icones ao centro */
}

/* estilização do paragrafo  */
.texto-caixa p {

    font-size: 1.2rem;
    /*tamanho da letra */
    margin-bottom: 0.8rem;
    /*espaçamento inferior */


}

/* estilização do botão  */
.texto-caixa button {

    width: 8rem;
    /*largura */
    background-color: blue;
    /*cor de fundo */
    color: white;
    /*cor da letra*/
    border: none;
    /*removendo a borda padrão */
    padding: 0.5rem;
    /*preenchimento interno do botão*/


}

.texto-caixa {
    text-align: center;/* alinhamento dos itens (podemos usar o flebox tbm ) */
}
.Text-content h3{
    /* estamos chamando p titulo da sessão  */
font-size: 2rem;/*tamanho da fonte */
font-weight: 800;/*peso da fonte */
text-transform: uppercase;/*tornando o texto em caixa alta */
margin-bottom: 2rem;/*margem inferior do titulo */
}
.Text-content P {

    color: rgb(66, 58, 58);
    text-align: center;
    font-size: 2rem;





}
.button-01{

  width: 20rem;
    background-color: #8a8989;
    border: none;
    padding: 0.5rem;
    color: rgb(0, 0, 0);
    text-align: center;




}
.button-div{

display: flex;
justify-content: center;
text-align: center;
align-items: center;
padding: 2rem;



}
.button-div01{
display: flex;
justify-content: center;
text-align: center;
align-items: center;
padding: 2rem;
height: 0.5rem;




}
.SUMMIT{
 
    background-color: #8a8989;
    border: none;
    padding: 0.5rem;
    color: rgb(0, 0, 0);
    text-align: center;





}
.icones{

 display: flex;
justify-content: center;
text-align: center;
align-items: center;



}
.icones2{
display: flex;
justify-content: center;
text-align: center;
align-items: center;




}
h2{


color: rgb(14, 14, 14);
    text-align: center;
    font-size: 2rem;
    padding: 2rem;
      


}
#texto-01{

 color: rgb(66, 58, 58);
    text-align: center;
    font-size: 1.2rem;


}
#texto-02{
 color: rgb(66, 58, 58);
    text-align: center;
    font-size: 1.2rem;




}
#texto-03{

    color: rgb(66, 58, 58);
    text-align: center;
    font-size: 1.2rem;
    


}
.section-04 i{

 
    color: rgb(0, 0, 0);
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 0.8rem;
    
   
    





}
.footer{

background-color: #807373;





}

h3{
color: rgb(14, 14, 14);
    text-align: center;
    font-size: 1.2rem;





}
#INSTA{
color: rgb(14, 14, 14);
    text-align: center;
    font-size: 1.2rem;





}
#FACEBOOK{
color: rgb(14, 14, 14);
    text-align: center;
    font-size: 1.2rem;




}
footer i{
 color: rgb(0, 0, 0);
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 0.8rem;




}