* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "DM Serif Text", serif;

}

header {

    background-color: #d8d8c0;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    /* separa logo e menu */
    align-items: center;
    position: sticky;
    left: 0;
    top: 0;
    z-index: 999;


}

.logojk {
    width: 10rem;
    height: auto;
}

.ul-list {
    display: flex;
    gap: 8rem;



}

.ul-list a {
    text-decoration: none;
    color: black;

}

.section-01 {
    background-image: url(imagem/dektop.png);
    background-size: cover;
    background-position: top;
    padding: 13rem;
}


.section-02 {


    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    /* poderiamos usa 20px */
    padding: 9rem;
    flex-wrap: wrap;
    flex-direction: column;




}

.caixa {

    background-color: #948989;
    /*cor de fundo da caixa */
    color: white;
    /*cor da letra */
    font-size: 1.2rem;
    /*tamanho da letra */
    width: 25%;
    /*largura de todas as caixas de porcentagem*/

    /* largura de todas as caixas em porcetagem */
    height: 17rem;
    /*altura da caixa */
    box-shadow: 10px 10px 20px rgb(88, 88, 84);
    /*sombra da caixa */
    min-width: 300px;
    /*largura minima da caixa evita que fique muito pequeno */
    transition: 0.8s;
    /*transição para o hover */
    cursor: pointer;
    /*ativar cursor do mouse */
    padding: 1rem;
    /*atribuindo um preenchimento interno*/



}

.pai-caixas {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem;


}

.caixa-icons i {
    /* icones são tratados como textos para estilização  */
    color: rgb(0, 0, 0);
    /* alterei a cor do icone */
    font-size: 2rem;
    /*aumentei o tamanho  do icone */
    margin-top: 1rem;
    /*espaçamento superior */
    margin-bottom: 0.8rem;
    /*espaçamento inferior */
}

/* chamei a div dos icones para centralizar os mesmos  */

.caixa-icons {
    text-align: center;
    /*alinhamento dos icones ao centro */
}

/* estilização do paragrafo  */
.texto-caixa p {

    font-size: 1.2rem;
    /*tamanho da letra */
    margin-bottom: 0.8rem;
    /*espaçamento inferior */


}

/* estilização do botão  */
.texto-caixa button {

    width: 8rem;
    /*largura */
    background-color: blue;
    /*cor de fundo */
    color: white;
    /*cor da letra*/
    border: none;
    /*removendo a borda padrão */
    padding: 0.5rem;
    /*preenchimento interno do botão*/


}

.texto-caixa {
    text-align: center;
    /* alinhamento dos itens (podemos usar o flebox tbm ) */
}

.Text-content h3 {
    /* estamos chamando p titulo da sessão  */
    font-size: 2rem;
    /*tamanho da fonte */
    font-weight: 800;
    /*peso da fonte */
    text-transform: uppercase;
    /*tornando o texto em caixa alta */
    margin-bottom: 2rem;
    /*margem inferior do titulo */

}

.Text-content P {

    color: rgb(66, 58, 58);
    text-align: center;
    font-size: 1.2rem;





}

@media (max-width: 500px) {
    header {
        background-color: rgba(80, 63, 62, 0.904);
        padding: 1rem;
    }
}

@media (max-width:500px) {

    .section-01 {
        background-image: url(imagem/mobile.jpg);
        padding: 10rem;
    }

    nav {
        display: none;
    }
}

.section-03 {
    background-color: #4b4444;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    /* poderiamos usa 20px */
    padding: 9rem;
    flex-wrap: wrap;
    flex-direction: column;




}

.caixa-01 {

    background-color: #948989;
    /*cor de fundo da caixa */
    color: white;
    /*cor da letra */
    font-size: 1.2rem;
    /*tamanho da letra */
    width: 25%;
    /*largura de todas as caixas de porcentagem*/

    /* largura de todas as caixas em porcetagem */
    height: 17rem;
    /*altura da caixa */
    box-shadow: 10px 10px 20px rgb(88, 88, 84);
    /*sombra da caixa */
    min-width: 300px;
    /*largura minima da caixa evita que fique muito pequeno */
    transition: 0.8s;
    /*transição para o hover */
    cursor: pointer;
    /*ativar cursor do mouse */
    padding: 1rem;
    /*atribuindo um preenchimento interno*/



}

.caixa-02 {
    background-color: #948989;
    /*cor de fundo da caixa */
    color: white;
    /*cor da letra */
    font-size: 1.2rem;
    /*tamanho da letra */
    width: 25%;
    /* largura de todas as caixas em porcetagem */
    height: 17rem;
    /*altura da caixa */
    box-shadow: 10px 10px 20px rgb(88, 88, 84);
    /*sombra da caixa */
    min-width: 300px;
    /*largura minima da caixa evita que fique muito pequeno */
    transition: 0.8s;
    /*transição para o hover */
    cursor: pointer;
    /*ativar cursor do mouse */
    padding: 1rem;
    /*atribuindo um preenchimento interno*/
}





.caixa-02 {
    background-image: url(imagem/JK.jpg);
    background-size: cover;
    background-position: top;




}

.pai-caixas-01 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem;


}

.caixa-icons i {
    /* icones são tratados como textos para estilização  */
    color: rgb(0, 0, 0);
    /* alterei a cor do icone */
    font-size: 2rem;
    /*aumentei o tamanho  do icone */
    margin-top: 1rem;
    /*espaçamento superior */
    margin-bottom: 0.8rem;
    /*espaçamento inferior */
}

/* chamei a div dos icones para centralizar os mesmos  */

.caixa-icons {
    text-align: center;
    /*alinhamento dos icones ao centro */
}

/* estilização do paragrafo  */
.texto-caixa p {

    font-size: 1.2rem;
    /*tamanho da letra */
    margin-bottom: 0.8rem;
    /*espaçamento inferior */


}

/* estilização do botão  */
.texto-caixa button {

    width: 8rem;
    /*largura */
    background-color: blue;
    /*cor de fundo */
    color: white;
    /*cor da letra*/
    border: none;
    /*removendo a borda padrão */
    padding: 0.5rem;
    /*preenchimento interno do botão*/


}

.texto-caixa {
    text-align: center;
    /* alinhamento dos itens (podemos usar o flebox tbm ) */
}

.Text-content h3 {
    /* estamos chamando p titulo da sessão  */
    font-size: 2rem;
    /*tamanho da fonte */
    font-weight: 800;
    /*peso da fonte */
    text-transform: uppercase;
    /*tornando o texto em caixa alta */
    margin-bottom: 2rem;
    /*margem inferior do titulo */
}

.Text-content P {

    color: rgb(66, 58, 58);
    text-align: center;
    font-size: 2rem;





}

.button-01 {

    width: 20rem;
    background-color: #8a8989;
    border: none;
    padding: 1rem;
    text-align: center;




}

.button-div {

    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 3rem;
    border: none;



}

.button-div01 {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 1rem;
    border: none;






}

.icones {

    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;



}

.icones2 {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;




}

h2 {


    color: rgb(14, 14, 14);
    text-align: center;
    font-size: 2rem;
    padding: 2rem;



}

#texto-01 {

    color: rgb(68, 48, 48);
    text-align: center;
    font-size: 1.5rem;


}

#texto-03 {

    color: rgba(0, 0, 0, 0.74);
    text-align: center;
    font-size: 1.2rem;



}

.section-04 i {
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 0.8rem;
}

.imput-email {
    text-align: center;
    padding: 0.8rem;
    width: 23rem;
    background-color: #473030b2;
    /* fundo escuro */
    border: none;
    margin: 1.5rem;
    color: #c2bcbc;
    /* texto branco para aparecer sobre o fundo escuro */
    font-size: 1rem;
    border-radius: 5px;
}

input::placeholder {
    color: #dddddd;
    /* deixa o texto do placeholder visível também */
}

.SUMMIT {
    text-align: center;
    padding: 0.8rem;
    width: 8rem;
    background-color: #473535a6;
    border: none;
    margin: 1.5rem;
}

/* Footer principal */
footer {
    background-color: #917e7e;
    display: flex;
    flex-direction: column; /* melhor para mobile */
    justify-content: center;
    align-items: center;
    padding: 5rem; /* altura automática e espaçamento */
   
}

/* Listas dentro do footer */
.listas {
    display: flex;
    flex-wrap: wrap; /* permite quebrar linha em telas pequenas */
    justify-content: center;
    align-items: flex-start;
    gap: 2rem; /* menor gap em mobile */
    text-align: center;
    color: rgb(3, 3, 3);
    margin-top: 2rem;
}

.listas ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.listas ul li {
    margin-top: 0.5rem;
    padding: 0.2rem;
}

/* Linha horizontal */
hr {
    border: solid 1px #000000;
    width: 80%;
    margin: 2rem auto 0 auto;
}

/* Ícones do footer */
.icones-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    gap: 1rem;
    color: rgb(0, 0, 0);
}

.icones-footer i {
    font-size: 2.4rem;
}


